.main-content {
  background-image: linear-gradient(to top right, #450b7c, #563cc9, #49e9fb);
}
.main {
  width: 100%;
  height: 100%;
  background-image: url("http://paperpillar.com/assets/images/hero-pattern-bg.png");
}
.home-hero {
}

.hero-button-float {
  position: relative;
  height: 90px;
  padding: 20px 0;
  box-sizing: border-box;
  text-align: center;
}
.hero-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.hero-button-float .btn.btn-primary,
.hero-button-float .btn.btn-white {
  position: absolute;
  bottom: calc(100vh - 70px);
  left: calc(50% - 110px);
  width: 220px;
  margin: 0 auto;
  padding: 0;
  transition: all 0.5s ease-in-out;
  visibility: visible;
  overflow: hidden;
  transform: translateZ(0);
}
.btn.btn-white {
  color: #ef4b6c;
  background-color: #fff;
  box-shadow: 0 12px 14px 0 rgb(63 70 88 / 15%);
}
.btn.btn-talk,
.btn.btn-work {
  height: 50px;
  padding: 16px 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 0.688rem;
  line-height: 18px;
  letter-spacing: 1.54px;
  text-transform: uppercase;
  border-radius: 25px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.icon-pp-envelope:before {
  content: "\e902";
}
.hero-button-float .btn.btn-primary i,
.hero-button-float .btn.btn-white i {
  visibility: hidden;
  position: relative;
  font-size: 0;
  color: transparent;
  transition: all 0.5s ease-in-out;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "Paperpillar" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hero-button-float .btn.btn-primary,
.hero-button-float .btn.btn-white {
  position: absolute;
  bottom: calc(100vh - 70px);
  left: calc(50% - 110px);
  width: 220px;
  margin: 0 auto;
  padding: 0;
  transition: all 0.5s ease-in-out;
  visibility: visible;
  overflow: hidden;
  transform: translateZ(0);
}
.btn.btn-talk,
.btn.btn-work {
  height: 50px;
  padding: 16px 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 0.688rem;
  line-height: 18px;
  letter-spacing: 1.54px;
  text-transform: uppercase;
  border-radius: 25px;
}
.hero-button-float.floating .btn.btn-primary,
.hero-button-float.floating .btn.btn-white {
  position: fixed;
  z-index: 9;
  bottom: 15px;
  left: calc(100% - 75px);
  width: 60px;
  height: 60px;
  padding: 22px 17px;
  transition: all 0.5s ease-in-out;
  visibility: visible;
  background-color: #ef4b6c;
  border-radius: 50%;
  transform: translateZ(0);
}

.hero-pattern-bg img {
  width: 100%;
}
.hero-pattern-bg img {
  display: block;
  width: 100%;
}
.hero-character .hero-guy-2 {
  display: block;
  top: 80px;
  left: 320px;
  width: 160px;
}
.hero-character .hero-girl {
  top: 64px;
  right: 245px;
  width: 280px;
}
.hero-text .text {
  font-family: Playfair Display, serif;
  font-weight: 700;
  line-height: 1;
  /* letter-spacing: -1px; */
  /* text-align: center;
  color: #fff; */
}
.hero-text p {
  width: 100%;
  max-width: 300px;
  margin: 15px auto 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
@media (min-width: 768px) {
  .hero-text p {
    max-width: 100%;
    margin: 0;
    font-size: 18px;
  }
}
.hero-guy-2 {
  display: none;
}
/* @media (min-width: 992px) {
  .hero {
    left: -186px;
    bottom: 220px;
  }
} */
.hero-guy-1 {
  width: 850px;
  /* bottom: -8px; */
  transform: translateX(-25%);
}

@media screen and (min-width: 480px) {
  .hero-guy-1 {
    width: 1280px;
    /* bottom: -8px; */
    transform: translateX(-25%);
  }
}
@media screen and (min-width: 992px) {
  .hero-guy-1 {
    width: 1980px;
    /* left: 50%; */

    transform: translateX(-10%);
    /* right: 230px; */
  }
}
